<div class="col-xs-10 col-xs-offset-1">
  <h1>New Dron</h1>
  <%= form_tag page_path(@conn, :create)  %>
    <div class="form-group">


      <label for="dron[name]">name</label>
      <input type="text" name="dron[name]" class="form-control" />

      <label for="dron[year]">year</label>
      <input type="integer" name="dron[year]" class="form-control" />

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
